h1
{
	font-family: impact, sans serif;
	color: purple;
}

#i01
{
	color: purple;
	font-family: impact, sans serif;
}

ul
{
	font-family: verdana, sans serif;
}

table, th, td
{
	border: 1px solid black;
}

table
{
	color: purple;
	font-family: verdana, sans serif;
	border-collapse: collapse;
}

body
{
	background-color: rgb(205, 180, 230);
	font-size: 18px;
}

a /*This makes the links underlined*/
{
	text-decoration: underline;
	font-family: verdana, sans serif;
}
